.divLoading
{
display : none;
}
.divLoading.show
{
display : block;
position : fixed;
z-index: 100;
background-image : url('../assets/img/brand/loader.gif');
background-color:#666;
opacity : 0.6;
background-repeat : no-repeat;
background-position : center;
left : 0;
bottom : 0;
right : 0;
top : 0;
}
.loadinggif.show
{
left : 50%;
top : 50%;
position : fixed;
z-index : 101;
width : 32px;
height : 32px;
margin-left : -16px;
margin-top : -16px;
}
div.content {
width : 1000px;
height : 1000px;
}