<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Welcome!</h1>
          <p class="text-lead text-light">Use these awesome forms to login or create new account in your project for free.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Sign up with credentials</small>
          </div>
          <form [formGroup]="formModel" autocomplete="off" (submit)="onRegister()">
            <div class="form-group required">
                <label>Email</label>
                <input type="text" formControlName="Email" class="form-control">
                <label *ngIf="formModel.get('Email')?.touched && formModel.get('Email')?.errors?.email"
                    class="text-danger"> Invalid email address</label>
            </div>
            <div class="form-group">
                <label>Firstname</label>
                <input type="text" formControlName="FirstName" class="form-control">
            </div>
            <div class="form-group">
              <label>Lastname</label>
              <input type="text" formControlName="LastName" class="form-control">
            </div>
            <div class="form-group">
              <label>Role</label>
              <!-- <input type="text" formControlName="Role" class="form-control"> -->
              <select formControlName="Role" class="form-control">
                <option value="Instructor">Instructor</option>
                <option value="Student">Student</option>
              </select>
            </div>
            <div formGroupName="Passwords">
                <div class="form-group required">
                    <label>Password</label>
                    <input type="password" formControlName="Password" class="form-control">
                    <label
                        *ngIf="formModel.get('Passwords.Password')?.touched && formModel.get('Passwords.Password')?.errors?.required"
                        class="text-danger"> This field is mandatory</label>
                    <label
                        *ngIf="formModel.get('Passwords.Password')?.touched && formModel.get('Passwords.Password')?.errors?.minlength"
                        class="text-danger"> Minimum 4 characters required</label>
                </div>
                <div class="form-group required">
                    <label>ConfirmPassword</label>
                    <input type="password" formControlName="ConfirmPassword" class="form-control">
                    <label
                        *ngIf="formModel.get('Passwords.ConfirmPassword')?.touched && formModel.get('Passwords.ConfirmPassword')?.errors?.required"
                        class="text-danger"> This field is mandatory</label>
                    <label
                        *ngIf="formModel.get('Passwords.ConfirmPassword')?.touched && formModel.get('Passwords.ConfirmPassword')?.errors?.passwordMismatch"
                        class="text-danger">Confirm password does not match</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8 offset-md-2">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign Up</button>
                </div>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
