<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <!-- <div class="col-xl-1"></div> -->
    <div class="col-xl-12">
      <div class="card shadow">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-3">
              <h2> My Courses</h2>
            </div>
          </div>
          <!--  -->
          <div *ngIf="enrollmentList.length <= 0">
            <h1 class="text-center">No course available</h1>
          </div>
          <div class="row" *ngIf="selectedDetails == 'EnrollmentLists'">
            <div class="col-sm-3" style="margin-top:25px;margin-bottom:25px;" *ngFor="let enrollment of enrollmentList">
              <div class="card shadow">
                <div class="card-header bg-transparent">
                  <div class="row align-items-center">
                      <div class="col-lg-12 text-center">
                        <a href="javascript:void(0)">
                          <img src="./assets/img/brand/course_logo.jpg" class="img-thumbnail" style="width:180px;height:180px;">
                          <h4>{{enrollment.title}}</h4>
                        </a>
                      </div>
                      <div class="col-lg-12">
                        <h5>Description: {{enrollment.description}}</h5>
                        <h5>Created: {{enrollment.createdAt | date: 'medium'}}</h5>
                        <h5>Updated: {{enrollment.updatedAt | date: 'medium'}}</h5>
                        <div class="text-center">
                          <a href="#/student-modules/{{enrollment.id}}" class="text-white btn btn-md bg-gradient-success">View Modules</a>
                        </div>
                        
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-xl-1"></div> -->
  </div>
</div>
