<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <!-- <div class="col-xl-1"></div> -->
    <div class="col-xl-3">
      <div class="card shadow">
        <div class="card-body">
          
          <div *ngIf="moduleList.length <= 0">
            <h1 class="text-center">No modules available</h1>
          </div>
          <div class="row" *ngIf="selectedDetails == 'ModuleLists'">
            <div class="col-sm-12" style="margin-top:25px;margin-bottom:25px;" *ngFor="let module of moduleList">
              <div class="card shadow">
                <div class="card-header bg-transparent">
                  <div class="row align-items-center">
                      <div class="col-lg-12">
                        <h4 class="text-center">{{module.title}}</h4>
                        <div class="text-center">
                          <a (click)="getContentList(module.id)" class="text-white btn btn-sm bg-gradient-success">View</a>
                        </div>
                        
                      </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-9">
      <div class="card shadow">
        <div class="card-body">
          <div *ngIf="contentList.length <= 0">
            <h1 class="text-center">No content available</h1>
          </div>
          <div class="row" *ngIf="selectedDetails == 'ModuleLists'">
            <div class="col-sm-12" style="margin-top:25px;margin-bottom:25px;" *ngFor="let content of contentList">
              <div class="card shadow">
                <div class="card-header bg-transparent">
                  <div class="row align-items-center">
                      <div class="col-lg-12">
                        <h4 class="text-center">{{content.contentName}}</h4>
                        <h4 class="text-center">{{content.type}}</h4>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          
        </div>
      </div>
    </div>
    <!-- <div class="col-xl-1"></div> -->
  </div>
</div>
