<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <!-- <div class="col-xl-1"></div> -->
    <div class="col-xl-12">
      <div class="card shadow">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-2">
              <h2><a href="#/modules/{{courseId}}/{{subjectId}}"><i class="ni ni-bold-left"></i></a> Contents</h2>
            </div>

            <div class="col-lg-1" *ngIf="selectedDetails=='ContentLists'" ></div>

            <form *ngIf="selectedDetails == 'ContentLists'" class="navbar-search col-lg-4">
              <div class="form-group mb-0" [ngClass]="{ 'focused': focus === true }">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                  </div>
                  <input class="form-control" [(ngModel)]="keyword" (keyup)="onSearchContent()" placeholder="Search" type="text" (focus)="focus = true"
                  (blur)="focus = false">
                </div>
              </div>
            </form>

            <div class="col-lg-3" *ngIf="selectedDetails == 'AddContent'">
              <div class="form-group">
                <input class="form-control form-control-alternative" [(ngModel)]="contentDetail.contentName" placeholder="Title">
              </div>
            </div>
            <div class="col-lg-3" *ngIf="selectedDetails == 'AddContent'">
              <div class="form-group">
                <input class="form-control form-control-alternative" [(ngModel)]="contentDetail.type" placeholder="Type">
              </div>
            </div>
            <div class="col-lg-2" *ngIf="selectedDetails == 'AddContent'">
              <div class="form-group" *ngIf="!contentDetail.id">
                <a class="text-white btn btn-md bg-gradient-success" (click)="addContent()"><i class="ni ni-check-bold"></i> Save</a>
              </div>
              <div class="form-group" *ngIf="contentDetail.id">
                <a class="text-white btn btn-md bg-gradient-success" (click)="updateContent()"><i class="ni ni-check-bold"></i> Update</a>
              </div>
            </div>

            <div class="col-lg-2" *ngIf="selectedDetails=='ContentLists'" ></div>
            
            <div class="col-lg-2" >
              <a class="text-white btn btn-md bg-gradient-success" (click)="onAddContent()" *ngIf="selectedDetails=='ContentLists'"><i class="ni ni-fat-add"></i> Add Contents</a>
              <a class="text-white btn btn-md bg-gradient-danger" (click)="selectedDetails='ContentLists'" *ngIf="selectedDetails=='AddContent'"><i class="ni ni-bold-left"></i>Cancel</a>
            </div>
          </div>
          <!--  -->
          <div *ngIf="contentList.length <= 0">
            <h1 class="text-center">No contents available</h1>
          </div>
          <div class="row" *ngIf="selectedDetails == 'ContentLists'">
            <div class="col-sm-3" style="margin-top:25px;margin-bottom:25px;" *ngFor="let content of contentList">
              <div class="card shadow">
                <div class="card-header bg-transparent">
                  <div class="row align-items-center">
                      <div class="col-lg-12">
                        <div ngbDropdown placement="bottom-right " class="float-right">
                          <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                            <i class="fas fa-ellipsis-v text-success"></i>
                          </a>
                          <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                            <a class="dropdown-item" href="javascript:void(0)"
                              (click)="onUpdate(content)">Update</a>
                            <a class="dropdown-item" href="javascript:void(0)"
                              (click)="deleteContent(content.id)">Delete</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-12 text-center">
                        <a href="javascript:void(0)">
                          <img src="./assets/img/brand/content_logo.png" class="img-thumbnail" style="width:180px;height:180px;">
                          <h4>{{content.contentName}}</h4>
                        </a>
                      </div>
                      <div class="col-lg-12">
                        <h5>Type: {{content.type}}</h5>
                        <h5>Created: {{content.createdAt | date: 'medium'}}</h5>
                        <h5>Updated: {{content.updatedAt | date: 'medium'}}</h5>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            
              <div class="col-lg-12">
                <br>
                <ul class="pagination justify-content-end mb-0">
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)" tabindex="-1" (click)="previousPagination()">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item" [ngClass]="{'active': selectedPagination == 'one'}">
                    <a class="page-link" href="javascript:void(0)" (click)="selectPagination(pagination.one, 'one')">{{pagination.one}}</a>
                  </li>
                  <li class="page-item" [ngClass]="{'active': selectedPagination == 'two'}">
                    <a class="page-link" href="javascript:void(0)" (click)="selectPagination(pagination.two, 'two')">{{pagination.two}}</a>
                  </li>
                  <li class="page-item" [ngClass]="{'active': selectedPagination == 'three'}">
                    <a class="page-link" href="javascript:void(0)" (click)="selectPagination(pagination.three, 'three')">{{pagination.three}}</a>
                  </li>
                  <li class="page-item" [ngClass]="{'active': selectedPagination == 'four'}">
                    <a class="page-link" href="javascript:void(0)" (click)="selectPagination(pagination.four, 'four')">{{pagination.four}}</a>
                  </li>
                  <li class="page-item" [ngClass]="{'active': selectedPagination == 'five'}">
                    <a class="page-link" href="javascript:void(0)" (click)="selectPagination(pagination.five, 'five')">{{pagination.five}}</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)" (click)="nextPagination()">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-xl-1"></div> -->
  </div>
</div>
