<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <!-- <div class="col-xl-1"></div> -->
    <div class="col-xl-12">
      <div class="card shadow">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-3">
              <h2>My Subjects</h2>
            </div>

            <form *ngIf="selectedDetails == 'SubjectLists'" class="navbar-search col-lg-4">
              <div class="form-group mb-0" [ngClass]="{ 'focused': focus === true }">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                  </div>
                  <input class="form-control" [(ngModel)]="keyword" (keyup)="onSearchSubject()" placeholder="Search"
                    type="text" (focus)="focus = true" (blur)="focus = false">
                </div>
              </div>
            </form>

            <div class="col-lg-4" *ngIf="selectedDetails == 'AddSubject'">
              <div class="form-group">
                <input class="form-control form-control-alternative" [(ngModel)]="subjectDetail.title"
                  placeholder="Title">
              </div>
            </div>
            <div class="col-lg-2" *ngIf="selectedDetails == 'AddSubject'">
              <div class="form-group" *ngIf="!subjectDetail.id">
                <a class="text-white btn btn-md bg-gradient-success" (click)="addSubject()"><i
                    class="ni ni-check-bold"></i> Save</a>
              </div>
              <div class="form-group" *ngIf="subjectDetail.id">
                <a class="text-white btn btn-md bg-gradient-success" (click)="updateSubject()"><i
                    class="ni ni-check-bold"></i> Update</a>
              </div>
            </div>

            <div class="col-lg-2" *ngIf="selectedDetails=='SubjectLists'"></div>

            <div class="col-lg-3">
              <a class="text-white btn btn-md bg-gradient-success" (click)="onAddSubject()"
                *ngIf="selectedDetails=='SubjectLists'"><i class="ni ni-fat-add"></i> Add Subject</a>
              <a class="text-white btn btn-md bg-gradient-danger" (click)="selectedDetails='SubjectLists'"
                *ngIf="selectedDetails=='AddSubject'"><i class="ni ni-bold-left"></i> Cancel</a>
            </div>
          </div>
          <div *ngIf="subjectList.length <= 0">
            <h1 class="text-center">No subjects available</h1>
          </div>
          <!--  -->
          <div class="row" *ngIf="selectedDetails == 'SubjectLists'">
            <div class="col-sm-4" style="margin-top:25px;margin-bottom:25px;" *ngFor="let subject of subjectList">
              <div class="card shadow">
                <div class="card-header bg-transparent">
                  <div class="row align-items-center">
                    <div class="col-lg-12">
                      <div ngbDropdown placement="bottom-right " class="float-right">
                        <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                          <i class="fas fa-ellipsis-v text-success"></i>
                        </a>
                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" href="javascript:void(0)" (click)="onUpdate(subject)">Update</a>
                          <a class="dropdown-item" href="javascript:void(0)"
                            (click)="deleteSubject(subject.id)">Delete</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 text-center">
                      <a href="javascript:void(0)">
                        <img src="./assets/img/brand/subject_logo.png" class="img-thumbnail"
                          style="width:200px;height:200px;">
                        <h3>{{subject.title}}</h3>
                      </a>
                    </div>
                    <div class="col-lg-12">
                      <h4>Subj Owner: <span class="text-success">{{subject.owner}}</span></h4>
                      <h4>Created: {{subject.createdAt | date: 'medium'}}</h4>
                      <h4>Updated: {{subject.updatedAt | date: 'medium'}}</h4>
                      <div class="text-center">
                        <a href="#/courses/{{subject.id}}"
                          class="text-white text-center btn btn-md bg-gradient-primary">View Courses</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-xl-1"></div> -->
  </div>
</div>